.main_section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    place-content: center;
    place-items: center;
    flex-grow: 1;
}

.top_section {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.button_section {
    display: flex;
    place-items: center;
    place-content: center;
    gap: 25px;
}

.text_section {
    display: flex;
    gap: 25px;
}

.bio_text {
    color: #eee8d5;
}